*{
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  color: silver;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
::-webkit-scrollbar{
  width: 8px;
  border-radius: 999px;

}
/* Track */
::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 5px; 
  max-height: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 999px;
}
::-webkit-scrollbar-thumb:hover {
  height: 10px;
  background: #555;
}
body{
  background-color: #1b1d20;
}
#loginContainer{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 350px;
  /* height:520px; */
  padding: 25px 20px;
  border: 1px solid rgb(219, 219, 219);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
}
#loginLogo{
  width: 50%;
  /* margin-top: 20px; */
  margin-bottom: 20px;
}
.inputField{
  margin: 3px 0;
  width: 100%;
  padding: 8px 12px;
  border: 1px solid #dbdbdb;
  background-color: #fafafa;
  outline: none;
  font-size: 13px;
  border-radius: 3px;
  color: black;
}
.sbtn{
  border: 1px solid #4bb4f8;
  background-color: #4bb4f8;
  border-radius: 6px;
  width: 100%;
  color: white;
  padding: 5px 1px;
  font-weight: bold;
  font-size: 14px;
  /* letter-spacing: 1px; */
  cursor: pointer;
}
.row{
  display: flex;
}
.lineSeperator{
  width: 100%;
  height: 2px;
  background-color: rgb(182, 180, 180);
  margin: 0 5px;
}
.alignCenter{
  align-items: center;
}
nav{
  position: absolute;
  left: 0;
  border-right: 1px solid rgba(128, 128, 128, 0.123);
  width: 370px;
  height: 100%;
  padding: 15px 30px;
  color: silver;
  display: flex;
  flex-direction: column;
}
nav ul li {
  margin: 0px 0 25px 0;
  padding: 0;
  display: flex;
  align-items: center;
  cursor: pointer;
}
nav ul li p{
  color: silver;
  font-size: 20px;
}
.navLogo{
  width: 150px;
  height: 100px;
  background: url(/src/assets/img/logo.png);
  background-position: center;
  background-size: contain;
  filter: brightness(0) invert(1);
  background-repeat: no-repeat;
  
}
.navIcons{
  width: 25px;
  height: 25px;
  margin-right: 12px;
  filter: brightness(0) invert(1);
}
#container{
  display: flex;
  flex-direction: column;
  width: calc(100% - 370px );  
  height: 100vh;
  max-height: 100vh;
  overflow-y: scroll;
  margin: 0 0 0 auto;
  padding: 15px 5px;
  align-items: center;
  /* border: 1px solid red; */
}
.mainBody{
  width: 520px;
}
#searchContainer{
  width: 520px;
  border: 2px solid rgba(128, 128, 128, 0.123);
  background-color: transparent;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 370px;
}
.searchInpt{
  padding: 8px 12px;
  background-color: transparent;
  outline: none;
  border: none;
  width: calc(100% - 30px);
  transition: 0.5s;
}
#search{
  width: 30px;
  height: 32px;
  margin-left: auto;
  background: url(/src/assets/img/Search.png);
  background-position: center;
  background-size: 80%;
  background-repeat: no-repeat;
  filter: brightness(0) invert(1);
  color: silver;
}
.postContainer{
  width: 100%;
  display: flex;
  flex-direction: column;
  /* border: 1px solid red; */
  margin: 20px 0;
}
.postContainer div:first-child p{
  font-size: 14px;
  padding: 0 8px;
}
.profileImg{
  width:  35px;
  height: 35px;
  margin-right: 5px;
  border-radius: 999px;
  border: 1px solid black ;
}
.postImg{
  width: 100%;
  height: 350px;
  border: 1px solid red;
}
.postIcons{
  width:  30px;
  height: 30px;
  margin: 0 10px;
}
.heart{
  background: url(/src/assets/img/heart.png);
  background-position: center;
  background-size: contain;
  filter: brightness(0) invert(1);
  
}
.comment{
  background: url(/src/assets/img/heart.png);
  background-position: center;
  background-size: contain;
  filter: brightness(0) invert(1);

}
.phone{
  background: url(/src/assets/img/phone.png);
  background-position: center;
  background-size: contain;
  filter: brightness(0) invert(1);
  margin-left: auto;
}
.send{
  background: url(/src/assets/img/messages.png);
  background-position: center;
  background-size: 80%;
  background-repeat: no-repeat;
  transform: rotate(10deg);
  filter: brightness(0) invert(1);

}
.heartActive{
  background: url(/src/assets/img/activeHeart.png);
  background-position: center;
  background-size: contain;
  animation: expand 0.5s forwards;
}
.greyText{
  padding: 5px 0;
  color: grey;
}
#messageContainer{
  width: 75%;
  height: 100%;
}
#userMsgContainer{
  display: flex;
  flex-direction: column;
  width: 250px;
  border-right: 1px solid rgba(128, 128, 128, 0.123);
}
.userBox{
  margin-top: 10px;
  padding: 7px 12px;
  border-bottom:1px solid rgba(128, 128, 128, 0.123) ;
}
.userProfile{
  min-width:  35px;
  min-height: 35px;
  max-width:  35px;
  max-height: 35px;
  border-radius: 999px;
  margin-right: 10px;
}
#msgBody{
  width: 100%;
  display: flex;
  flex-direction: column;
}
#msgHeader{
  padding: 5px 12px;
  width: 100%;
  height: 60px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.123);
}
#userMessages{
  width: 100%;
  height: 92%;
}
.userMsg{
  margin: 10px 0;
  max-width: 50%;
  min-width: min-content;
  padding: 3px 12px;
}
.myMsg{
  background-color: #5f5f5f;
  color: black;
  border-radius: 1px 5px 5px 1px;
}
.toMsg{
  background-color: #cfd1d1;
  margin-left: auto;
  color: black;
  border-radius: 5px 1px 1px 5px;
  text-align: end;
}
#profileLarge{
  width:  150px;
  height: 150px;
  border-radius: 999px;
  margin-right: 25px;
}
#profileControls{
  display: flex;
}
#userInfoBox{
  margin: 10px 0;
}
.profileControlsBtn{
  background-color: white;
  padding: 5px 22px;
  height: 30px;
  border-radius: 5px;
  margin: 0 10px;
  color: black;
  cursor: pointer;
}
#postsContentContainer{
  display: flex;
  flex-wrap: wrap;
}
.posts{
  min-width: 33%;
  height: 120px;
  border: 1px solid red;
}
#ResponseContainer{
  display: flex;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  border-radius: 5px;
  width: 350px;
  padding: 10px 20px;
  margin: 0px auto;
  z-index: 3;
}
#Modal{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width:calc( 100% - 375px);
  margin-right: auto;
  right: 0;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.623);
  z-index: 1;
}
#createPost{
  padding: 15px 10px;
  width: 850px;
  background-color: #1b1d20;
  border-radius: 5px;
}
.smlImgs{
  width:  25px;
  height: 25px;
  border: 1px solid green;
  cursor: pointer;
}
#addLabel{
  font-size: 30px;
}
#imgContainer{
  width: 60%;
}
#upload-photo {
  opacity: 0;
  position: absolute;
  z-index: -1;
}
#bigImg{
  width: 100%;
  height: 215px;
  border: 1px solid red;
}
textarea{
  resize: none;
}
.submitDark{
  border: 2px solid rgba(128, 128, 128, 0.123);
  padding: 5px 12px;
  background-color: #1b1d20;
  margin-top: 10px;
  cursor: pointer;
}
#captionInput{
  height: 180px;
}
#errBox,#successBox{
  width: 100%;
  border-radius: 5px;
  padding: 10px 12px;
}
#errBox{
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
  color: #721c24;
}
#successBox{
  background-color: #d4edda;
  border: 1px solid #c3e6cb;
  color: #155724;
}
.userSearchContainer{
  width: 100%;
  background-color: #1b1d20;
  padding: 5px;
  cursor: pointer;
}
.userSearchContainer:hover{
  border: 1px solid rgb(182, 180, 180);
}
@media only screen and (max-width:1920px) {
  nav{
    width: 270px;
  }
  #Modal{
  width:calc( 100% - 270px);

  }
  #container{
    width: calc(100% - 270px );  
  }
}
@media only screen and (max-width:1262px) {
  nav{
    align-items: center;
    width: 80px;
    padding: 15px 15px;
  }
  #Modal{
    width:calc( 100% - 80px);
  
    }
  .navLogo{
    width: 26px;
    background: url(/src/assets/img/mobileLogo.png);
    background-position: center;
    background-size: contain;
    filter: brightness(0) invert(1);
    background-repeat: no-repeat;
  }
  nav ul li p{
    display: none;
  }
  .navIcons{
    margin-right: 0;
  }
  #container{
    width: calc(100% - 80px );  
  }
}
@media only screen and (max-width:884px) {
  .mainBody,#messageContainer, #searchContainer{
    width: 100%;
  }
}
@media only screen and (max-width:760px) {
  nav{
    display: flex;
    flex-direction: row;
    border-right: 0;
    border-top: 1px solid rgba(128, 128, 128, 0.123);
    bottom: 0;
    height: 50px;
    padding: 0;
    width: 100%;
    justify-content: center;
    justify-items: center;
    z-index: 1;
    background-color: #1b1d20;
  }
  #Modal{
    width:calc( 100%);
    }
  .navIcons{
    margin-right: 0;
    margin: 0 15px;;
  }
  nav ul{
    display: flex;
    align-items: center;
  }
  nav ul a {
    height: 30px;
    max-height: max-content;
  }
  .navLogo{
    height: 100%;
    margin-right: 15px ;
    /* border: 1px solid red; */
  }
  #container{
    width: 95%;
    height: calc(100vh - 50px);
    margin: 0 auto;
  }
  #userMsgContainer{
    width: 60px;
  }
  .userBox p{
    display: none;
  }
}
@keyframes expand {
  0% { transform: scale(1); }
  50% { transform: scale(1.15); }
  100% { transform: scale(1); }
}